.Pet .Pet_top {
  text-align: center;
  padding-top: 6rem;
}
.Pet .Pet_top a {
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  padding: 4px 10px;
  font-weight: 600;
  background: #189a46;
  margin: 5px 0;
}
.Pet .Pet_top h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  padding-top: 1rem;
}
.Pet .Pet_top .date {
  margin-bottom: 20px;
  padding-bottom: 10px;
  margin-top: 10px;
}
.Pet .Pet_top .date i:nth-child(2) {
  padding-left: 20px;
}
.Pet .Pet_top .date span {
  color: #000c04;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.Pet .Pet_center {
  max-width: 1100px;
  margin: 0 auto;
}
.Pet .Pet_center img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.Pet .Pet_bot {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 3rem;
}
.Pet .Pet_bot p {
  margin: 15px 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
}
.Pet .Pet_bot .Prev_Next {
  display: flex;
  justify-content: space-between;
  border: solid #ddd;
  border-width: 1px 0px 1px;
  padding: 25px 0;
  margin: 40px 0px;
  border-top: 1px solid rgb(147 107 232 / 5%);
  border-bottom: 1px solid rgb(147 107 232 / 5%);
}
.Pet .Pet_bot .Prev {
  margin-left: 15px;
  margin-right: 10px;
  font-size: 16px;
  color: #999;
  margin-bottom: 0px;
}
.Pet .Pet_bot .Prev h3 {
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000c04;
}
.Pet .Pet_bot .Prev_Next .Next {
  text-align: right;
  margin-left: 15px;
  margin-right: 10px;
  font-size: 16px;
  color: #999;
  margin-bottom: 0px;
}
.Pet .Pet_bot .Prev_Next .Next h3 {
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000c04;
}
.Pet .Reply {
  margin-top: 35px;
}
.Pet .Reply h2 {
  font-size: 28px;
  line-height: 40px;
  color: #000c04;
  font-weight: 600;
}
.Pet .Reply p {
  margin-bottom: 15px;
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
}
.Pet .Reply .Comment {
  margin-bottom: 20px;
  height: 150px;
  margin-top: 5px;
  outline: none;
  width: 100%;
  text-align: left;
  align-items: start;
  border-radius: 6px;
  border: 1px solid rgb(147 107 232 / 5%);
  min-height: 60px;
  padding: 13px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #000c04;
  background-color: rgb(147 107 232 / 5%);
}
.dark .Pet .Reply .Comment{
  color: white;
  background-color: #222222;
}
.Pet .Reply .Comment:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid #189a46;
}
.Pet .Reply .demo {
  margin-bottom: 20px;
  height: inherit;
  margin-bottom: 10px;
  margin-top: 5px;
  outline: none;
  width: 100%;
  text-align: left;
  align-items: center;
  border-radius: 6px;
  min-height: 60px;
  padding: 13px 20px;
  border: 1px solid rgb(147 107 232 / 5%);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #293043;
  background-color: rgb(147 107 232 / 5%);
}
.dark .Pet .Reply .demo{
  color: white;
  background-color: #222222;
}
.Pet .Reply .demo:focus{
  box-shadow: none;
  outline: none;
  border: 1px solid #189a46;
}
.Pet .Pet_bot .bot_bot h3 {
  margin-bottom: 0px;
  font-size: 14px !important;
  font-weight: 400;
  color: #000c04;
}
.Pet .Pet_bot .Prev_Next h3:hover {
  color: #189a46;
  transition: 0.3s;
}
.Pet .Pet_bot .bot_bot .bot_r {
  text-align: right;
  padding-bottom: 6rem;
}
.Pet .Pet_bot .bot_bot button {
  color: #fff;
  background-color: #189a46;
  border-color: #189a46;
  cursor: pointer;
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  border-radius: 5px;
  border: none;
}
.dark .Pet {
  background-color: #151515;
}
.dark .Pet .Pet_top {
  color: white;
}
.dark .Pet .Pet_top span {
  color: white;
}
.dark .Pet .Pet_bot .Prev_Next h3 {
  color: white;
}
.dark .Pet .Pet_bot .Reply h2 {
  color: white;
}
.dark .Pet .Pet_bot .Reply label {
  color: white;
  opacity: 0.8;
}
.dark .Pet .Pet_bot .bot_bot h3 {
  color: white;
}
.dark .Pet .Pet_bot .Prev_Next h3:hover {
  color: #189a46;
}
/* responsive */
/* >lap */
@media screen and (min-width: 1200px) {
}
/* lap */
@media screen and (max-width: 1200px) {
}
/* tap */
@media screen and (max-width: 992px) {
  .Post .Post_title h2{
    font-size: 35px;
    line-height: 40px;
}
}
/* mobile */
@media screen and (max-width: 576px) {
  .Post .Post_title h2{
    font-size: 32px;
    line-height: 38px;
}
}
